/* Reset style */
*{
    margin: 0;
    padding: 0;
}

/*Defines fonts*/
@font-face {
    font-family: 'Kurale';
    src: url(../fonts/Kurale/Kurale-Regular.ttf);
    font-family: 'M PLUS 1p';
    src: url(../fonts/M_PLUS_1p/MPLUS1p-Light.ttf);
}

body{
    font-family: 'M PLUS 1p';
    line-height: 1.8;
}
h1{
    font-family: 'Kurale';
}

/*Navigationsbar*/


/*index*/


/*footer*/
