/* Reset style */
*{
    margin: 0;
    padding: 0;
}

/*Defines fonts*/
@font-face {
    font-family: 'Kurale';
    src: url(../fonts/Kurale/Kurale-Regular.ttf);
    font-family: 'M PLUS 1p';
    src: url(../fonts/M_PLUS_1p/MPLUS1p-Light.ttf);
}

body{
    font-family: 'M PLUS 1p';
    line-height: 1.8;
}
h1{
    font-family: 'Kurale';
}

/*Navigationsbar*/
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{ 
    height: 100%;
    padding: 0px 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size:xx-small
}

nav a:hover{
    color: #6c6c6c;
}

nav li:first-child{ 
    margin-right: auto;
}

/*Button styling*/
.button{
    background-color: #EB8E5A;
    opacity: 90%;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;
    max-width: 8rem;
    max-height: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'M PLUS 1p';
}

.button-grey{
    background-color: lightgrey;
    max-width: 10rem;
}

.button:hover{
    background-color: #EB8E5A;
    opacity: 100%;
}
.button:active {
    background-color: #EB8E5A;
    opacity: 90%;
}


/*INDEX*/
.background-photo{
    max-width: 100%;
    height: 120%;
}


.first-photo{
    width: 80%;
    height: 25rem;
    margin: -50rem 0 0 6rem;
  
}


/*footer*/
